# Salary DataSet

You have been provided with a CSV File. The CSV file contains a company name, job position and the degree columns.

It also contains another column named - salary more than 100k. This column has an entry 1 if the salary of the corresponding individual with the company/job position and degree is more than 100k and 0 if less than 100k.  

You have to train a decision tree model using the data set and then use the model to predict if the salary is less than 100 k or more than 100k

In [12]:
import pandas as pd
df = pd.read_csv("salaries.csv")
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [13]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [16]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [24]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')
inputs_n
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [18]:
from sklearn import tree

In [19]:
model = tree.DecisionTreeClassifier()

In [22]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [25]:
model.score(inputs_n,target)

1.0

In [26]:
model.predict([[2,2,1]])

C:\Apps\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0], dtype=int64)

In [27]:
model.predict([[2,0,1]])

C:\Apps\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=int64)